<!doctype html>
<html lang="en">
<header>
  <img src="../../assets/imagen14.jpg" width="100%">
</header>
<body>
    <h1>¿Que es el call center de la fiscalía?</h1>
    <p>El Call Center es uno de los espacios de atención que la Fiscalía de Chile dispone para la atención de todos sus usuarios.</p>
    <p>Horario de Atención ( Excepto Festivos )->Lunes a Viernes de 8:30 a 18:30 </p>
    <h2>Publico general</h2>
    <p>El Call Center entrega, al público general, información sobre: El proceso penal e instituciones del sistema. La forma de realizar presentaciones de reclamos, sugerencias y felicitaciones y solicitudes de información fundada en la Ley de Transparencia. Cómo realizar denuncias penales. Cómo entregar a la Fiscalía especies vinculadas a un delito. Cómo solicitar la aprobación para el retiro de difunto.</p>
    <h2>Importante</h2>
    <p>Para asegurar la confidencialidad de los datos de su causa, si usted es padre o adulto responsable de un menor de edad que ha sido víctima de un delito y desea obtener información, debe estar registrado como víctima indirecta, condición que puede consultar en el Call Center o solicitarla en la fiscalía local.</p>
</body>

</html>
