<!DOCTYPE html>
<html lang="en">
<header>

</header>
  <img src="../../assets/imagen15.jpg" height="100%" width="100%">

<body>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Qué se entiende por violencia física?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Son todas las formas de agresión a las mujeres que van desde los empujones y zamarreos, tirones de pelo, pellizcos, apretones, golpes de puño y patadas hasta los golpes con objetos. La forma más fuerte de agresión física contra una mujer es el femicidio.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        ¿Qué es la violencia sicológica?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Cuando se intenta controlar a una mujer mediante amenazas, humillaciones y presión emocional con el propósito de hacerla sentir insegura y sin control sobre su vida y decisiones.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        ¿Qué se entiende por violencia sexual?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Cuando una mujer es obligada, mediante la fuerza física o amenazas sicológicas, a tener relaciones sexuales o a realizar actos sexuales que le resultan humillantes o degradantes.
      </div>
    </div>
  </div>
</div>
</body>
</html>
