<!doctype html>
<html lang="en">
  <main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <img src="../../assets/imagen3.png" alt="" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Informe Trata de Personas 2022-Proyecto Esperanza</h1>
              <p>El contenido del informe corresponde a los datos de las mujeres víctimas de trata atendidas por Proyecto Esperanza entre 2018 y 2019. Tiene como objetivo sensibilizar a la población sobre este delito de derechos humanos y también dar información sobre recursos a las víctimas.</p>
              <p><a class="btn btn-lg btn-primary" href="/informate">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/imagen5.png" alt="" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption">
              <h1>Informe: Ciberviolencia y Ciberacoso contra las mujeres y niñas en el marco de la Convención Belém Do Pará</h1>
              <p>ste informe presenta la ciberviolencia de género como una de las formas de violencia más complejas y menos abordadas a nivel internacional por los Estados, incluso tras la exacerbación de la digitalización por la pandemia de COVID-19.</p>
              <p><a class="btn btn-lg btn-primary" href="/informate">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/imagen4.jpg" alt="" width="100%" height="100%">
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Informe de Investigación de Interleave – Mujeres que usan drogas enfrentando violencia basada en el género en Europa (en inglés)</h1>
              <p>El objetivo de esta investigación es profundizar en el conocimiento de las violencias de género y machistas hacia las mujeres que usan drogas para generar una guía de herramientas de intervención y gestión de estas violencias por parte de los servicios de atención.</p>
              <p><a class="btn btn-lg btn-primary" href="/informate">Ver más</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>


    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <img src="../../assets/imagen7.png" class="img-fluid rounded-circle" width="140" height="140">

          <h2 class="fw-normal">Fui Víctima</h2>
          <p>La víctima puede sufrir amenazas, hostigamientos o atentados en contra suya o de su familia.</p>
          <p><a class="btn btn-secondary" href="/informate">Seguir leyendo &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/imagen8.jpg" class="img-fluid rounded-circle" width="140" height="140">
          <h2 class="fw-normal">Soy Testigo</h2>
          <p>Testigo es toda persona que tiene información sobre un delito.</p>
          <p><a class="btn btn-secondary" href="/informate">Seguir leyendo &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/imagen11.jpg" class="img-fluid rounded-circle" width="140" height="140">

          <h2 class="fw-normal">Soy Menor de Edad</h2>
          <p>En caso de menores que sufren o son testigos de violencia de genero deben seguir los siguientes pasos</p>
          <p><a class="btn btn-secondary" href="/informate">Seguir leyendo &raquo;</a></p>
        </div>
      </div>



      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">¿Qué hago si fui víctima o testigo de un delito?</h2>
          <p class="lead">La víctima puede sufrir amenazas, hostigamientos o atentados en contra suya o de su familia.</p>
          <p class="lead">Por ese motivo, es deber de la Fiscalía </p>
          <p class="lead">doptar aquellas medidas de protección que no impliquen una restricción de los derechos del imputado. Así, por ejemplo, el Fiscal podrá tomar los resguardos necesarios para impedir la identificación visual de la víctima en determinadas actuaciones de la investigación. </p>
          <p class="lead">Solicitar al Juez de Garantía que ordene alguna medida de protección, aún cuando ella suponga la restricción de derechos del imputado. Así, por ejemplo, el Fiscal podrá solicitar al Juez de Garantía que prohíba al imputado aproximarse a la víctima o a su familia.</p>
        </div>
        <div class="col-md-5">

          <img src="../../assets/imagen12.jpg" alt="" width="500" height="500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">¿Que significa ser testigo? </h2>
          <p class="lead">Testigo es toda persona que tiene información sobre un delito. Así, por ejemplo, es Testigo quien presencia un robo y puede informar dónde, cuándo y cómo ocurrió. En el Proceso Penal, los testigos cumplen un papel fundamental en dos momentos claves:</p>
          <p class="lead">1.> Durante la investigación, los testigos son citados por la Fiscalía, para que aporten antecedentes que puedan ser útiles al esclarecimiento de los hechos.</p>
          <p class="lead">2.> En el Juicio Oral, los testigos son presentados por el Fiscal como prueba de los hechos en que se basa su acusación. También en el Juicio Oral, el acusado de cometer el delito, puede presentar sus testigos para probar los hechos en que basa su defensa.</p>
          <p class="lead">Los testigos pueden sufrir amenazas, hostigamientos o atentados en contra suya o de su familia. Por ese motivo, es deber de la Fiscalía:</p>
          <p class="lead">1.> Adoptar aquellas medidas de protección que no impliquen una restricción de los derechos del imputado. Así, por ejemplo, el Fiscal podrá tomar los resguardos necesarios para impedir la identificación visual de la víctima en determinadas actuaciones de la investigación.</p>
          <p class="lead">2.> Solicitar al Juez de Garantía que ordene alguna medida de protección, aún cuando ella suponga la restricción de derechos del imputado. Así, por ejemplo, el Fiscal podrá solicitar al Juez de Garantía que prohíba al imputado aproximarse a la víctima o a su familia.</p>
          <p class="lead">Las Unidades Regionales de Atención a Víctimas y Testigos -URAVIT- son equipos integrados por abogados, psicólogos, asistentes sociales, técnicos y administrativos que funcionan en cada</p>
          <p class="lead">Fiscalía Regional y que apoyan a la Fiscalía en todas las materias relacionadas con la atención y protección de Víctimas y Testigos</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="../../assets/imagen13.jpg" alt="" width="500" height="500">

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">¿Que pasa si soy menor de edad?</h2>
          <p class="lead">Si es menor de edad y soy testigo o victima debe proceder segun la imagen de este articulo</p>
        </div>
        <div class="col-md-5">
          <img src="../../assets/imagen10.jpg" alt="" width="500" height="500">
        </div>
      </div>

      <hr class="featurette-divider">


    </div>




